/* BestillingsListe component styles */
.sakerBanner {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.sakerBanner h2 {
  flex: 1;
}

.loaderContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
